<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Open Cart Test Regression" thread-count="3" parallel="tests" verbose="4" >
    <test name="Open Cart Home Page Test" >
        <classes>
            <class name="com.qa.opencart.tests.HomePageTest"/>
        </classes>
    </test>
    <test name="Open Cart Login Page Test" >
        <classes>
            <class name="com.qa.opencart.tests.LoginPageTest"/>

        </classes>
    </test>
    <test name="Open Cart Account Page Test" >
        <classes>
            <class name="com.qa.opencart.tests.AccountPageTest"/>
        </classes>
    </test>
</suite>
